<div class="k014-header d-flex justify-content-between align-items-end m-5">
  <div class="k014-header-logo">
    {%
    picture
    logo
    k014-logo.png
    --link {{ site.baseurl }}
    %}
  </div>
  <div class="k014-header-language-toggle justify-content-end">
    {%- assign lang = '' -%}
    {%- assign lang_icon = 'usa_circle.png' -%}
    {%- if site.lang == 'en' -%}
    {%- assign lang = 'es' -%}
    {%- assign lang_icon = 'spain_circle.png' -%}
    {%- endif -%}
    <a href="/{{ lang }}">
      {%
      picture
      logo
      {{ lang_icon }}
      %}
    </a>
  </div>
</div>
