@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

$css-root-vars: (
    color-font: #fff,
    color-font-button: #0b0b0b,
    color-alert-red: #f74856,
    color-alert-orange: #ff970d,
    color-body: #222327,
    color-featured-label: #1a1a1a,
    color-featured-label-mobile: #222327,
    color-search-icon: #717171,
    color-underline-link: #414242,
    color-table-border: #414242,
    color-figcaption: #c3c6c7,
    color-hover-dot: #717171,
    color-bg-textarea: #28292e,
    color-bg-code: #32343a,
    color-bg-tag: #414242,
    color-bg-featured-label: #fff,
    color-bg-featured-label-mobile: #f4f4f4,
    color-bg-elements: #28292e,
    color-bg-button-membership: #e2e5ed,
    color-elements-one: #414242,
    color-elements-two: #717171,
    color-elements-white: #fff,
    gradient-gray-start: #2b2d32,
    gradient-gray-end: #32343a,
);

$body-bg: map-get($css-root-vars, color-body);
$body-color: map-get($css-root-vars, color-font);
$link-color: #f8f9fa;

a {
  color: var(--#{$prefix}link-color);
  text-decoration: $link-decoration;

  &:hover {
    color: #f9fafb !important;
    text-decoration: $link-hover-decoration;
  }

  &:visited {
    color: #f9fafb !important;
  }
}

.k014-title {
  font-size: 44px;
  color: $body-color;
  text-decoration: none;

  &:visited {
    color: inherit;
    text-decoration: inherit;
  }

  &:hover {
    color: inherit;
    text-decoration: inherit;
  }
}

$k014-header-height: 200px;
.k014-header {
  height: $k014-header-height;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

$k014-header-calculated-height: $k014-header-height;
$k014-footer-calculated-height: 11.5em;
$k014-post-title-shadow: 0.5px 0.5px $gray-600;
.k014-container {
  min-height: calc(100vh - #{$k014-header-calculated-height} - #{$k014-footer-calculated-height});

  .k014-post-card {
    padding: 12%;
    position: relative;
    height: 100%;
    min-height: 300px;
    transition: transform .3s ease;

    a {
      position: absolute;
      z-index: 1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .k014-post-card-image {
      position: absolute;
      z-index: -1;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: no-repeat center center;
      background-size: cover;
      border-radius: $border-radius-xl;
    }

    .k014-post-card-image::after {
      display: block;
      width: 100%;
      height: 100%;
      content: '';
      border-radius: $border-radius-xl;
      background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.2),
      rgba(117, 19, 93, 0.6)
      );
    }

    h1 {
      text-shadow: $k014-post-title-shadow;
      margin-right: 20%;
    }

    span {
      font-size: 1em;
    }

    &:hover {
      transform: translateY(-3px);
    }
  }
}

$k014-post-content-width: 700px;
$k014-post-content-padding: 6em;
article {
  background-color: $body-bg;
  z-index: 0;
  @include border-bottom-radius(2.5em);

  .k014-post-header {
    position: relative;
    z-index: -1;

    .k014-post-header-image {
      position: absolute;
      width: 100%;
      height: 100%;
      background: no-repeat center center;
      background-size: cover;

      &::after {
        display: block;
        width: 100%;
        height: 100%;
        content: '';
        background-image: linear-gradient(
        to bottom,
        rgba(245, 246, 252, 0.2),
        rgba(117, 19, 93, 0.6)
        );
      }

      @media (min-width: 992px) {
        width: calc(50% - 50px);
      }
    }

    .k014-post-header-headline {
      width: 50%;
      margin: auto;
      min-height: 35vh;

      h1 {
        font-size: calc(2rem + 1.5vw) !important;
        padding-top: 20px;
        text-shadow: $k014-post-title-shadow;
      }

      @media (min-width: 992px) {
        margin-left: 50%;
        width: 40%;

        h1 {
          padding-top: 0.5em;
          text-shadow: $k014-post-title-shadow;
        }
      }
    }
  }

  .k014-post-content {
    @include make-container();
    background-color: $body-bg;
    margin-top: -5vh;
    padding-top: calc(#{$k014-post-content-padding} - 4em);
    padding-left: calc(#{$k014-post-content-padding} - 4em);
    padding-right: calc(#{$k014-post-content-padding} - 4em);
    max-width: calc(100vw - 3em);
    border-radius: $border-radius-2xl;

    @media (min-width: 992px) {
      margin-top: -7vh;
      max-width: calc(#{$k014-post-content-width} + 2 * #{$k014-post-content-padding});
      padding-top: calc(#{$k014-post-content-padding} - 3em);
      padding-left: $k014-post-content-padding;
      padding-right: $k014-post-content-padding;
    }

    ul,p {
      line-height: 1.65;
      position: relative;
      margin-top: 0px;
      margin-bottom: 1.2em;

      font-size: 1.2em;
    }
  }
}

$k014-footer-background-color: #0a0a12;
$k014-footer-icon-size: 1.5em;
$k014-footer-jump-size: 2.5em;
footer {
  background-color: $k014-footer-background-color;
  width: 100%;

  .jump {
    height: $k014-footer-jump-size;
    background-color: $body-bg;
    @include border-bottom-radius($k014-footer-jump-size);
  }

  img {
    height: 3em;
  }

  li {
    width: $k014-footer-icon-size;
    height: $k014-footer-icon-size;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap";

p img,iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
