---
layout: default
---
{{ content }}

<div class="container k014-container">
  <div class="row my-3 justify-content-center row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
    {%- for post in site.posts -%}
    <div class="col my-3">
      <div class="k014-post-card">
        <a href="{{ site.baseurl }}{{ post.url | relative_url }}"></a>
        <div class="k014-post-card-image" style="background-image: url({% picture index {{ post.image }} %})">
        </div>
        <div class="k014-post-card-headline">
          {%
          include
          post_headline.html
          title=post.title
          date=post.date
          tags=post.tags
          first_only=true
          %}
        </div>
      </div>
    </div>
    {%- endfor -%}
  </div>
</div>
