---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <div class="k014-post-header start-0">
    <div
      class="k014-post-header-image"
      style="background-image: url({% picture index {{ page.image }} %})"
      ></div>
    <div class="col k014-post-header-headline">
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      <p>
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      </p>
    </div>
  </div>

  <div class="k014-post-content">
    {{ content }}

    <script src="https://giscus.app/client.js"
            data-repo="joecabezas/joecabezas.github.io"
            data-repo-id="r_kgdohfi5ig"
            data-category="general"
            data-category-id="dic_kwdohfi5is4cpr3-"
            data-mapping="pathname"
            data-reactions-enabled="1"
            data-emit-metadata="0"
            data-input-position="top"
            data-theme="dark"
            data-lang="en"
            data-loading="lazy"
            crossorigin="anonymous"
            async>
    </script>
  </div>
</article>
